<table class="footer-table">
    <tr>
        <td><a href="https://www.twitter.com/1stepho">twitter</a></td>
        <td><a href="https://www.linkedin.com/in/omorogbe/">linkedin</a></td>
        <td><a href="https://github.com/omorogbe">github</a></td>
        <td><a href="https://nyu.academia.edu/StephenOmorogbe">academia</a></td>
    </tr>

</table>
<footer class="site-footer">

    <div class="container">
        <small class="pull-left">&copy; {{ site.time | date: '%Y' }} Stephen Omorogbe. All rights reserved.</small>

    </div>
</footer>