<!-- <div class="topnav">
    <a href="/" class="nav">home</a>
    <a href="/about" class="nav">about</a>
    <a href="/blog" class="nav">blog</a>
    <a href="/contact" class="nav">contact</a>
  </div> -->


  <table class="navbar-table">
    <tr>
        <td><a href="/" class="active">home</a></td>
        <td><a href="/about" class="active">about</a></td>
        <td><a href="/blog" class="active">blog</a></td>
        <td><a href="/contact" class="active">contact</a></td>
    </tr>
  </table>